{% extends "base.html.twig" %}

{% block title %} Signalert {% endblock%}

{% block body %}   
<div class="container mt-4">
     <div class="jumbotron">
      <h1 class="display-4">Signalert</h1>  
      
        
      {% if app.user %}
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/deconnexion" role="button">Se déconnecter</a>
        </p>
      {%  else %}
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="/connexion" role="button">Se connecter</a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock%}