{{ form_start(form)}}
{# 
<div class="formulaire">{{ form_row(formUpload.csvFile) }}
</div>
<div class="row">
    <button class="btn btn-primary w-40 mt-5" type="submit">Valider</button>
    
</div> #}
{{ form_end(form)}}