<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/minty/bootstrap.min.css" integrity="sha512-+/uDiVv4ZLhHnXToJFPwYK08kkG2et1rSuiitOl+0hdzmx2N6HQaMqm/7ORzr8dhco+cyGZCRxkXU7EMMYOLfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/minty/bootstrap.rtl.min.css" integrity="sha512-gKDEIPM2feBD3raqbhlzCmBAwxUV/xgsX+znn3/0m6hRfVXMy0jAJ4pB0dD7LVpwDRIxYPhS+hP/gQRZdHGbrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />            
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}
        <style>
            .grid {
                display : grid;
                grid-template-columns : repeat(12, 1fr);
                grid-column-gap : 1rem;
            }
            .grid4{
                display : grid;
                grid-template-columns : repeat(4, 1fr);
                grid-column-gap : 1rem;
            }
            .col3 {
                grid-column : span 3;
            }
            .col4 {
                grid-column : span 4;                
            }
            .col6{
                grid-column : span 6;
            }
            .col12 {
                grid-column : span 12;
            }
            .jse{
                justify-self : end;
            }
            .m2{
                margin : 2rem;
            }
            .h50 .form-control{
                min-height : 50px;
            }
            .fdr{
                display : flex;
                flex-direction : row;
            }
            .side {
                display : block;
                position : sticky;
                grid-column : 1/4;
                top : .2rem;
                padding : 1rem;
            }
            .list {
                grid-column : 4/13;
                padding : 1rem;
                flex-direction : column;
            }
            .groupe {
                border : 2px black solid;
                border-radius : 10px;
                margin : .5rem 0;
                padding : .5rem
            }
            .scoreTot {
                border : 1px #eceeef solid; 
                border-radius : 10px;
                background : white;
                padding : .5rem;
            }
            .hidden {
                visibility : hidden;
                display : none
            }
            .indic {
                display : inline-block;
                border : 1px white solid;
                min-width : 20px !important;
                min-height : 20px !important;
                margin : .2rem
            }
            .partleft,
            #souche .form-check {
                margin-right : 2rem
            }
            /* .selected {
                color : #ffffff;
                background-color : #F07365;
            }
            .selected option{
                color : #ffffff;
            } */
            .filtre8 .form-control{
                color : #ffffff !important;
            }
            
        </style>

        {% block javascripts %}
            {% block importmap %}
             {{ importmap('app') }}
            {# {{ importmap('notation') }} #}
            {% endblock %}
            {# // <script src="{{asset('notation.js')}}"></script> #}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>