<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/minty/bootstrap.min.css" integrity="sha512-+/uDiVv4ZLhHnXToJFPwYK08kkG2et1rSuiitOl+0hdzmx2N6HQaMqm/7ORzr8dhco+cyGZCRxkXU7EMMYOLfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/minty/bootstrap.rtl.min.css" integrity="sha512-gKDEIPM2feBD3raqbhlzCmBAwxUV/xgsX+znn3/0m6hRfVXMy0jAJ4pB0dD7LVpwDRIxYPhS+hP/gQRZdHGbrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />            
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}  
        <style>
            .gridsignalement {
                display : grid;
                grid-template-columns : repeat(12, 1fr);
                padding: 1rem;
                grid-column-gap : 1rem;
                width : 100%
            }
            .gridpage{
                display : grid;
                grid-template-columns : repeat(12, 1fr);
                padding: 1rem;
                grid-column-gap : 1rem;
                margin : 1rem 5rem;
            }
            .griddetail{
                grid-column : 2/12;
                display : grid;
                grid-template-columns : repeat(12, 1fr);
                padding: 1rem;
                grid-column-gap : 1rem;
            }
            .grid4{
                display : grid;
                grid-template-columns : repeat(4, 1fr);
                grid-column-gap : 1rem;
            }
            .col1 {
                grid-column : span 1;                
            }
            .col2 {
                grid-column : span 2;                
            }
            .col3 {
                grid-column : span 3;
            }
            .col4 {
                grid-column : span 4;                
            }
            .col5{
                grid-column : span 5;
            }
            .col6{
                grid-column : span 6;
            }
            .col12 {
                grid-column : span 12;
            }
            .nav-item{
                align-self : center;
                justify-self : center;
            }
            .collast {
                grid-column : 12/12;
                align-self : center;
                justify-self : center;
            }
            .show{
                align-self : flex-start;
                justify-self : flex-start;
            }
            .gs{
                grid-column-start : 2
            }
            .jse{
                justify-self : end;
            }
            .m2{
                margin : 2rem;
            }
            .h50 .form-control{
                min-height : 50px;
            }
            .fdr{
                display : flex;
                flex-direction : row;
            }
            .side {             
                grid-column : 1/4;
            }
            .log{
                grid-column : 5/9;
            }
            .logit{
                color : #ffffffff
            }
            .logit:hover{
                color : #2d0af3ff
            }
            .map{
                grid-column : 4/7;
                display : block;
                position : sticky;
                top: 1rem;
                padding-top: 1rem;
            }
            .list {
                grid-column : 7/13;
                padding : 1rem;
                height : 45rem;
                overflow-y: scroll;
                scrollbar-width: thin;
            }
            .list a{
                padding : 0;
            }
            .groupe {
                border : 2px black solid;
                border-radius : 10px;
                margin : .5rem 0;
                padding : .5rem
            }
            .scoreTot {
                border : 1px #eceeef solid; 
                border-radius : 10px;
                background : white;
                padding : .5rem;
            }
            .hidden {
                visibility : hidden;
                display : none
            }
            .indic {
                display : inline-block;
                border : 1px white solid;
                min-width : 20px !important;
                min-height : 20px !important;
                margin : .2rem
            }
            .formside{
                position : sticky;
                top : 1rem;
                height : 45rem;
                overflow-y: scroll;
                overflow-x: hidden;
                scrollbar-width: thin;
                padding: 1rem;
            }
            .partleft,
            #souche .form-check {
                margin-right : 2rem
            }
            /* .filtre0 {
                display : flex;
            }
            .filtre0 div {
                width : 85%
            } */
            .nbC {
                text-decoration : line-through;
            }
            .filtre8 .form-control{
                color : #ffffff !important;
            }            
        </style>
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %} 
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
            <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>      
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>